.black{
  background-color: #262E30;
  color: #FFFFFF;
}

.gray{
  background-color: #DDDDDD;
}

.gray800{
  background-color: #9A9A9A;
}

.gray900{
  background-color: #BCBCBC;
}

.gray1000{
  background-color: #EEEEEE;
}

.gray1100{
  background-color: #F6F6F6;
}
